<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Bstrac</title>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!-- Arquivo de tradução para o português -->
    <script src="{{ url_for('static', filename='js/datepicker-pt-BR.js') }}"></script>
    <script>
        $(function() {
            $.datepicker.setDefaults($.datepicker.regional['pt-BR']);
            $("#data_inicial, #data_final").datepicker({
                dateFormat: 'dd MM yy',
                showOtherMonths: true,
                selectOtherMonths: true
            });
        });
    </script>
    <style>
        .error {
            color: red;
        }
    </style>
</head>
<body>
    <h1>Selecione um modelo, objeto e forneça as datas</h1>

    <p class="error"> {{ message }}</p>

    <form method="POST">
        <label for="modelo">Modelo:</label>
        <select id="modelo" name="modelo" required>
            {% for option in model_options %}
            <option value="{{ option }}">{{ option }}</option>
            {% endfor %}
        </select>
        <br>

        <label for="objeto">Objeto:</label>
        <select id="objeto" name="objeto" required>
            {% for option in object_options %}
            <option value="{{ option }}">{{ option }}</option>
            {% endfor %}
        </select>
        <br>

        <label for="motorista">Motorista/Ajudante:</label>
        <input type="text" id="motorista" name="motorista" required>
        <br>

        <label for="tipo">Função:</label>
        <select id="tipo" name="tipo" required>
            <option value="motorista">Motorista</option>
            <option value="ajudante">Ajudante</option>
        </select>
        <br>

        <label for="data_inicial">Data Inicial:</label>
        <input type="text" id="data_inicial" name="data_inicial" required>
        <br>

        <label for="data_final">Data Final:</label>
        <input type="text" id="data_final" name="data_final" required>
        <br>

        <input type="submit" value="Enviar">
    </form>
</body>
</html>
